  *{
    margin:0;
    padding:0;
}
html{
    box-sizing: border-box;
}
*, *:after, *:before{
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    overflow-x: hidden;
    background: url(https://phonoteka.org/uploads/posts/2021-04/1618954379_9-phonoteka_org-p-fon-s-fioletovim-ottenkom-11.png);
}
body :link{
    color:rgb(19, 12, 231);
}
body :visited{
    color:rgb(40, 232, 65);
}
a:hover{
    color:rgb(228, 11, 33);
}

/*можно задать стиль для ссылок с помощью a:link и a:visited и a:hover*/

/* HEADER */
#for_header_bg{
    background: -webkit-linear-gradient(0deg, rgb(12, 7, 25), rgb(33, 16, 51), rgb(33, 21, 55));
    background: -moz-linear-gradient(0deg, rgb(12, 7, 25), rgb(33, 16, 51), rgb(33, 21, 55));
    background: linear-gradient(0deg, rgb(12, 7, 25), rgb(33, 16, 51), rgb(33, 21, 55));
    border-bottom: 1px solid rgb(199, 199, 199);
    border-top: 1px solid rgb(199, 199, 199);
}
.header{
    display:flex;
    flex-direction: row;
    font-family:'Rounded_Elegance';
    color:rgb(199, 199, 199);
}

/* NAVIGATION */
.navbar{
    font-family:'Rounded_Elegance';
    background: -webkit-linear-gradient(0deg, rgb(12, 7, 25), rgb(33, 16, 51), rgb(33, 21, 55));
    background: -moz-linear-gradient(0deg, rgb(12, 7, 25), rgb(33, 16, 51), rgb(33, 21, 55));
    background: linear-gradient(0deg, rgb(12, 7, 25), rgb(33, 16, 51), rgb(33, 21, 55));
    border: 1px solid rgb(199, 199, 199);
}
.navbar ul {
    display: flex;
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color:rgb(199, 199, 199);
}
.navbar a:hover{
    color:rgb(224, 234, 52);
    text-decoration: underline;
}

/* REFERENCES LIST */
#ref_list {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(199, 199, 199);
    font-family:'Rounded_Elegance';
    color:rgb(199, 199, 199);
    background: -webkit-linear-gradient(0deg, rgb(12, 7, 25), rgb(33, 16, 51), rgb(33, 21, 55));
    background: -moz-linear-gradient(0deg, rgb(12, 7, 25), rgb(33, 16, 51), rgb(33, 21, 55));
    background: linear-gradient(0deg, rgb(12, 7, 25), rgb(33, 16, 51), rgb(33, 21, 55));
}
#ref_list h2{
    text-align: center;
    color:rgb(199, 199, 199);
}
#ref_list #paimon{
    width: 140px;
    height: 155px;
}

/* TABLE */
.table{
    margin: 0;
    font-family:'Rounded_Elegance';
    background: -webkit-linear-gradient(0deg, rgb(12, 7, 25), rgb(33, 16, 51), rgb(33, 21, 55));
    background: -moz-linear-gradient(0deg, rgb(12, 7, 25), rgb(33, 16, 51), rgb(33, 21, 55));
    background: linear-gradient(0deg, rgb(12, 7, 25), rgb(33, 16, 51), rgb(33, 21, 55));
    border: 1px solid rgb(175, 174, 174)
}
.table table{
    border-collapse: collapse;
    table-layout: fixed;
    color:rgb(199, 199, 199);

}
.table caption{
    text-align: center;
    padding: 0;
    caption-side: top;
    color:rgb(199, 199, 199);
    font-size: 1.5em;
}
.table th{
    padding: 0 5px;
    font-weight: normal;
    border-right: 1px solid rgb(199, 199, 199);
}
.table tr{
    border: 1px solid rgb(175, 174, 174)
}
.table td{
    border-right: 1px solid rgb(199, 199, 199);
}
.table tr:nth-child(even){
    background-color: rgb(58, 52, 109);
}
.table tr:nth-child(odd){
    background-color: rgb(59, 71, 134);
}

/* CALCULATOR */
.calculator{
    background: -webkit-linear-gradient(0deg, rgb(12, 7, 25), rgb(33, 16, 51), rgb(33, 21, 55));
    background: -moz-linear-gradient(0deg, rgb(12, 7, 25), rgb(33, 16, 51), rgb(33, 21, 55));
    background: linear-gradient(0deg, rgb(12, 7, 25), rgb(33, 16, 51), rgb(33, 21, 55));
    border: 1px solid rgb(199, 199, 199);
    color:rgb(199, 199, 199);
}
.calculator h2{
    font-weight:normal;
}
.calculator input{
    color:rgb(199, 199, 199);
    border: 1px solid rgb(206, 206, 206);
    background-color: rgb(93, 82, 110);
    max-width: 120px;
}
.calculator button{
    color:rgb(199, 199, 199);
    background-color: rgb(93, 82, 110);
    border: 1px solid rgb(206, 206, 206);
}
.calculator #result{
    max-width: 120px;
    min-height: 26px;
    color:rgb(199, 199, 199);
    border: 1px solid rgb(206, 206, 206);
    background-color: rgb(93, 82, 110);
}

/* FORM */
.form{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(199, 199, 199);
    font-family:'Rounded_Elegance';
    color:rgb(199, 199, 199);
    background: -webkit-linear-gradient(0deg, rgb(12, 7, 25), rgb(33, 16, 51), rgb(33, 21, 55));
    background: -moz-linear-gradient(0deg, rgb(12, 7, 25), rgb(33, 16, 51), rgb(33, 21, 55));
    background: linear-gradient(0deg, rgb(12, 7, 25), rgb(33, 16, 51), rgb(33, 21, 55));
}
.form h2{
    text-align: center;
    color:rgb(199, 199, 199);
}
.form textarea{
    max-width: 220px;
    max-height: 300px;
}

/* FOOTER */
footer{
    font-family:'Rounded_Elegance';
    background: -webkit-linear-gradient(0deg, rgb(12, 7, 25), rgb(33, 16, 51), rgb(33, 21, 55));
    background: -moz-linear-gradient(0deg, rgb(12, 7, 25), rgb(33, 16, 51), rgb(33, 21, 55));
    background: linear-gradient(0deg, rgb(12, 7, 25), rgb(33, 16, 51), rgb(33, 21, 55));
    align-items: center;
    min-height: 80px;
    border-bottom: 1px solid rgb(199, 199, 199);
    border-top: 1px solid rgb(199, 199, 199);
}
#footer-text{
    color:rgb(199, 199, 199);
}

@font-face {
    font-family: "Rounded_Elegance"; 
    src: url("./font/Rounded_Elegance.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
    } 
